* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Geneva, Verdana, sans-serif;
    /* border: 1px solid red; */

}

nav {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.left-logo{
    
    padding: 15px 0px 0px 15px;
}

.left-logo img{
    width: 90px;
}


.right-links{
    margin: 15px;

}

a{
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 15px;
    padding-right: 20px;
}

i {
    color: black;
    font-size: 16px;
    padding-right: 10px;
}

a:hover {
    color: #0C6399;
    transform: scale(1.1);
}


.illustration{
    display: flex;
    align-items: center;
    margin-top: 10vh;
}

.boat {
    max-width: 60%;
}

h1{
    font-family: 'IM Fell English', serif;
    font-size: 4em;
}

.photo{
    background-image: url('julia-korner-moonlight-friends-dyru-small-01.jpg');
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
}

.info {
    margin: 22vh 0 22vh 0;
    display: table;
    justify-content: center;
    width: 100%;
}

.td{
    display: table-row;
}


h3{
    font-size: 2em;
    text-align: center;
}

h3 span{
    font-family: 'IM Fell English', serif;
    font-size: 2.5em;
    color: #0C6399;
}

.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.night{
    background: no-repeat center url("bath.jpg");
    background-size: cover;
    height: 500px;
    width: 900px;
    margin-bottom: 20px;
}

.tree{
    background: no-repeat center url("nature.jpg");
    height: 600px;
    background-size: cover;
    width: 500px;

}

.portrait{
    background: no-repeat center url("fight.jpg");
    height: 550px;
    background-size: cover;
    width: 400px;
    margin-left: 20px;
}


.container {
    margin: 20vh 20vw 10vh 20vw;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr ;
    grid-template-rows: auto;
    grid-gap: 10px;
    }

.container > div {
    padding: 15px 10px 15px 10px;
}


.date{
    grid-column-start: -2;
    text-align: center;
    border: #0C6399 4px dashed;
}

.date span{
    font-family: 'IM Fell English', serif;
    font-size: 2.5em;
    color: #0C6399;
}

.date h4{
    font-size: 1.5em;
}

.julia{
    grid-column-start: 2;
    grid-row: 1/3;
    background: no-repeat center url("julia-korner-ocean-small.jpg");
    background-size: cover;
}

.bio{
    grid-column-start: 3;
    grid-auto-rows: 2;
    border: #0C6399 4px dashed;
}

.bio p {
    font-size: 1.3em;
    padding: 10px 15px 0 15px;
    font-weight: bold ;
}

.quote{
    grid-column: 1/3;
    grid-row-start: 3;
    background-color: #0C6399;
    color: white;
    font-weight: bold ;
    font-size: 1.5em;
}

.quote p {
    padding: 10px 15px 0 15px;
}


.cursed{
    grid-column-start: -2;
    grid-row-start: 3;
    background: no-repeat center url("julia-korner-cursed-pot-lineup-dyru.jpg");
    height: 450px;
    background-size: cover;
}

footer {
    background-color: #0c6399;
    color: white;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    padding: 5vh 0 5vh 0;
}

.nameFooter {
    margin-bottom: 500px;
}

footer i{
    font-size: 60px;
    color: white;
    padding-bottom: 25px;

}

footer a:hover{
    color: white;
}

footer a{
    color: white;
    font-size: 1.1em;
    display: block;
}

.socials{
    margin-right: 15vw;
}

.contact{
    margin-left: 15vw;
}

.nameFooter {
    font-family: 'IM Fell English', serif;
    font-size: 2em;
}

@media only screen and (max-width: 914px) {

    .container {
        margin: 10vh 0 10vh 0;
    }

    .julia{
        grid-column: 1/3;
        grid-row: 1/3;
        background: no-repeat center url("img/julia-korner-ocean-small.jpg");
        background-size: cover;
    }

    .portrait{
        height: 550px;
        background-size: cover;
        width: 100vw;
        margin-left: 0px;
        margin-top: 20px;
    }
    
    .tree{
        width: 100vw;
    }

}
    






